extends layout
include comments


block content
    link(rel="stylesheet", href="/css/style.css")
    div#buttonsession
            a(href="/posts/create")
                button Write
            a(href="/users/logout")
                button LogOut
            a(href='/posts')
                button Home
            

    ul
        each post in posts
            li.post-List
                    a(href=`/posts/${post._id}`) #{post.title}
                    div
                        p User : #{post.author.username}
                        p Creatday : #{post.createdAt}
    
    //- div#pagination
    //-     if page > 1
    //-         a(href=`/posts?page=${page-1}&size=${size}`)
    //-             button Pre
    //-     div #{page}
    //-     a(href=`/posts?page=${page+1}&size=${size}`) 
    //-             button Next
